Table	Create Table
tb_realisasi_detail	CREATE TABLE `tb_realisasi_detail` (\n  `id_realisasi_detail` int NOT NULL AUTO_INCREMENT,\n  `id_realisasi` int NOT NULL DEFAULT '0',\n  `id_rkk_detail` int NOT NULL DEFAULT '0',\n  `id_rkk` int NOT NULL DEFAULT '0',\n  `id_karyawan` int NOT NULL DEFAULT '0',\n  `nama_karyawan_manual` varchar(255) DEFAULT NULL,\n  `id_departmen` int NOT NULL DEFAULT '0',\n  `id_sub_department` int NOT NULL DEFAULT '0',\n  `r_upah` int NOT NULL DEFAULT '0',\n  `r_potongan_telat` int NOT NULL DEFAULT '0',\n  `r_potongan_istirahat_awal` int NOT NULL DEFAULT '0',\n  `r_potongan_istirahat_telat` int NOT NULL DEFAULT '0',\n  `r_potongan_lainnya` int NOT NULL DEFAULT '0',\n  `r_jam_masuk` varchar(20) NOT NULL DEFAULT '',\n  `r_jam_keluar` varchar(20) NOT NULL DEFAULT '',\n  `r_istirahat_masuk` varchar(20) NOT NULL DEFAULT '',\n  `r_istirahat_keluar` varchar(20) NOT NULL DEFAULT '',\n  `r_status` int NOT NULL,\n  `r_update` varchar(20) NOT NULL,\n  `ra_masuk` varchar(20) NOT NULL,\n  `ra_keluar` varchar(20) NOT NULL,\n  `ra_istirahat_masuk` varchar(20) NOT NULL,\n  `ra_istirahat_keluar` varchar(20) NOT NULL,\n  `id_jadwal` int NOT NULL DEFAULT '0',\n  `status_realisasi_detail` int NOT NULL DEFAULT '0',\n  `hasil_kerja` varchar(255) NOT NULL DEFAULT '',\n  `lembur` int NOT NULL DEFAULT '0',\n  `tgl_realisasi_detail` date NOT NULL,\n  `r_potongan_pulang` int NOT NULL DEFAULT '0',\n  `r_potongan_tidak_lengkap` int NOT NULL DEFAULT '0',\n  `tgl_updt` datetime DEFAULT CURRENT_TIMESTAMP,\n  PRIMARY KEY (`id_realisasi_detail`)\n) ENGINE=InnoDB AUTO_INCREMENT=1937 DEFAULT CHARSET=latin1
